@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #fafafa;
  --foreground: #111111;
  --header-bg: rgba(250, 250, 250, 0.8);
  --border: #e5e5e5;
}

.dark {
  --background: #121212;
  --foreground: #f5f5f5;
  --header-bg: rgba(10, 10, 10, 0.8);
  --border: #262626;
}

/* Fallback for when no class is present, using system pref */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #121212;
    --foreground: #f5f5f5;
    --header-bg: rgba(10, 10, 10, 0.8);
    --border: #262626;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}
